body{
    font-family: 'Poppins', sans-serif;
}

h1{
    line-height: 18px;
}
.banner-area{
    padding: 5% 8%;
}

.left-half,
.right-half{
    width: 45%;
    float: left;
    margin: 0 2%;
}

.left-half img{
   width: 100%;
}

.left-half .name-banner{
    color: orange;
    font-size: 40px;
}

.left-half .welcome{
    color: darkred;
    font-size: 30px;
}

.para{
    font-size: 15px;
    text-align: justify;
    text-decoration-color: rgb(39, 27, 27);
}